# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [19]:
import pandas as pd
import numpy as np

# Seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
serie_anos = pd.Series(data=anos)
serie_anos

0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64

#### 2) Coloque os anos nos índices conforme a tabela.

In [41]:
# seu código aqui
indice_anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]
serie_anos = pd.Series(data=indice_anomalia, index = anos)
serie_anos

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [46]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_series = pd.Series(data=dic_temperaturas)
dic_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [48]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   119.804853  101.226666  112.846075
1   116.854176  124.385541  100.942751
2    99.646185   89.630453   86.017567
3    90.118332   91.518447  113.917476
4    98.850848   98.455517   77.891251
5    96.137942   99.562916  106.936503
6    96.624342   85.219550  102.203055
7   111.759998   80.151861  104.603579
8   109.786624   97.284378   88.710259
9    92.786573   98.294269   86.048204
10   94.255245   90.255107  107.753836
11  106.336989   95.561064  108.774006
12   89.450624   92.084614   86.835577
13   98.057231   92.325597  112.451462
14  110.263612   86.024746   91.130537
15   84.331594   85.953142   98.211686
16   94.187513   94.288222   80.889689
17  107.857648   99.684099  117.957861
18   88.863991   88.512008   94.278635
19   88.340047   97.125678  118.354099

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [61]:
um_a_vinte = []
for i in range (1,21):
    um_a_vinte.append(i)   
#seu código aqui
df= pd.DataFrame(arr, columns = ["x1", "x2", "x3"], index = um_a_vinte)
df

            x1          x2          x3
1   119.804853  101.226666  112.846075
2   116.854176  124.385541  100.942751
3    99.646185   89.630453   86.017567
4    90.118332   91.518447  113.917476
5    98.850848   98.455517   77.891251
6    96.137942   99.562916  106.936503
7    96.624342   85.219550  102.203055
8   111.759998   80.151861  104.603579
9   109.786624   97.284378   88.710259
10   92.786573   98.294269   86.048204
11   94.255245   90.255107  107.753836
12  106.336989   95.561064  108.774006
13   89.450624   92.084614   86.835577
14   98.057231   92.325597  112.451462
15  110.263612   86.024746   91.130537
16   84.331594   85.953142   98.211686
17   94.187513   94.288222   80.889689
18  107.857648   99.684099  117.957861
19   88.863991   88.512008   94.278635
20   88.340047   97.125678  118.354099

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [67]:
# seu código aqui
df['media'] = (df['x1']+df['x2']+df['x3'])/3
df

            x1          x2          x3       media
1   119.804853  101.226666  112.846075  111.292532
2   116.854176  124.385541  100.942751  114.060823
3    99.646185   89.630453   86.017567   91.764735
4    90.118332   91.518447  113.917476   98.518085
5    98.850848   98.455517   77.891251   91.732539
6    96.137942   99.562916  106.936503  100.879120
7    96.624342   85.219550  102.203055   94.682316
8   111.759998   80.151861  104.603579   98.838479
9   109.786624   97.284378   88.710259   98.593754
10   92.786573   98.294269   86.048204   92.376349
11   94.255245   90.255107  107.753836   97.421396
12  106.336989   95.561064  108.774006  103.557353
13   89.450624   92.084614   86.835577   89.456939
14   98.057231   92.325597  112.451462  100.944763
15  110.263612   86.024746   91.130537   95.806298
16   84.331594   85.953142   98.211686   89.498807
17   94.187513   94.288222   80.889689   89.788475
18  107.857648   99.684099  117.957861  108.499869
19   88.863991   88.512008   94.278635   90.551544
20   88.340047   97.125678  118.354099  101.273275

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [69]:
# seu código aqui
df['log_med'] = df['media'] * 2.718281828
df

            x1          x2          x3       media     log_med
1   119.804853  101.226666  112.846075  111.292532  302.524466
2   116.854176  124.385541  100.942751  114.060823  310.049462
3    99.646185   89.630453   86.017567   91.764735  249.442411
4    90.118332   91.518447  113.917476   98.518085  267.799920
5    98.850848   98.455517   77.891251   91.732539  249.354893
6    96.137942   99.562916  106.936503  100.879120  274.217879
7    96.624342   85.219550  102.203055   94.682316  257.373218
8   111.759998   80.151861  104.603579   98.838479  268.670842
9   109.786624   97.284378   88.710259   98.593754  268.005609
10   92.786573   98.294269   86.048204   92.376349  251.104950
11   94.255245   90.255107  107.753836   97.421396  264.818810
12  106.336989   95.561064  108.774006  103.557353  281.498071
13   89.450624   92.084614   86.835577   89.456939  243.169171
14   98.057231   92.325597  112.451462  100.944763  274.396316
15  110.263612   86.024746   91.130537   95.806298  260.428520
16   84.331594   85.953142   98.211686   89.498807  243.282982
17   94.187513   94.288222   80.889689   89.788475  244.070379
18  107.857648   99.684099  117.957861  108.499869  294.933223
19   88.863991   88.512008   94.278635   90.551544  246.144617
20   88.340047   97.125678  118.354099  101.273275  275.289302